body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fit {
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
  overflow: hidden;
}

#menu-container{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: dimgray;
  padding: 0%;
}

#menu-container li {
  background: gray;
  list-style: none;
  margin: 5px;
}

#gl-container{
  width: 100%;
  position:absolute;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}